<div class="empty container block">   
</div>
<nav>
    <div class="container block flex">
        <header class="nav__header flex">
            <img class="piggyheadlogo" src="/src/image/piggyvest.svg" alt="piggyvest logo">
            <a class="link--primary adj unhide" href="#">Save</a>
            <a class="link--primary adj unhide" href="#">Invest</a>
            <a class="link--primary adj unhide" href="#">Stories</a>
            <a class="link--primary adj unhide" href="#">FAQs</a>
            <a class="link--primary adj unhide" href="#">Blog</a>
        </header>
        <div class="nav__body">
            <a class="btn plain unhide link--primary btn--large" href="#">Sign in</a>
            <a class="btn btn--large unhide btn--body" href="#">Create free account </a>
            <img class="icon--medium menu hide" src="/src/image/menu.png" alt="menu logo">
        </div>
    </div>
</nav>
<section class="block-saver block--big">
    <div class="container block column">
        <div class="save__flex">
            <div class="save__header">
                <h1>
                    The Better Way to Save & Invest.
                </h1>
                <p>
                    PiggyVest helps over 3 million customers achieve their financial goals by helping them save and invest with ease.
                </p>
                <div class="save__acct" >
                    <a class="btn btn--large btn--body" href="#">Create free account </a>
                </div>
                <div class="save__get" >
                    <button class="save__get__link uplink btn btn--small btn--transparent" href="#">
                        <img class="icon--small" src="/src/image/apple-icon.svg" alt="">
                        Get on iphone
                    </button>
                    <button class="btn uplink btn--small btn--transparent" href="#">
                        <img class="icon--small" src="/src/image/google-icon.svg" alt="ipone logo">
                        Get on Android
                    </button>
                </div>
            </div>
        </div>
        <div class="bracket block">
            <div class="firstimage">
                    <img class="rect" src="/src/image/rect.png" alt="border image">
                    <img class="headerimg" src="/src/image/headerImg.png" alt="a ladies image">
                    <img class="cardimg card1" src="/src/image/card1.png" alt="my rent card">
                    <img class="cardimg card2" src="/src/image/card2.png" alt="investify card">
                    <svg class="cross" width="75" height="75" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate(0px, 0px); opacity: 1;"><g opacity="0.2"><path d="M34.5601 36.8001H8.64014V28.4001H26.2401V10.5601H34.5601V36.8001Z" fill="#7913E5"></path><path d="M72.1602 36.8001H46.2402V10.5601H54.5602V28.4001H72.1602V36.8001Z" fill="#7913E5"></path><path d="M35.6798 69.6001H27.3598V51.7601H9.75977V43.3601H35.6798V69.6001Z" fill="#7913E5"></path><path d="M54.5602 69.6001H46.2402V43.3601H72.1602V51.7601H54.5602V69.6001Z" fill="#7913E5"></path></g></svg>
                    <svg class="circleicon" width="41" height="41" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate(0px, 0px); opacity: 1;"><circle cx="23" cy="23" r="15.5" stroke="#E7439C" stroke-opacity="0.15" stroke-width="15"></circle></svg>
                    <svg class="dothead" width="33" height="108" viewBox="0 0 35 110" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate(0px, 0px); opacity: 1;"><circle cx="5" cy="5" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="5" cy="30" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="5" cy="55" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="5" cy="80" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="5" cy="105" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="30" cy="5" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="30" cy="30" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="30" cy="55" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="30" cy="80" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="30" cy="105" r="5" fill="#2295F2" fill-opacity="0.28"></circle></svg>
            </div>
        </div>
    </div>
</section>
<section class="block-security block--big">
    <div class="container block">
        <div class="security">
            <div class="securityimg__container">
                <img class="securityimg" src="/src/image/security.png" alt="security logo">
            </div>
            <div class="security__bodytext">
                <h3>Your security is our priority</h3>
                <p>PiggyVest uses the highest level of Internet Security and it is secured by 256 bits SSL security encryption to ensure that your information is comepletely protected from fraud.</p>
                <a class="link--secondary" href="#">Learn more ></a>
            </div>
        </div>
    </div>
</section>
<section class="gridlike container block block--big">
    <div class="gridlike__body">
        <div class="gridlike__bodytext">
            <h2 class="gridlike__heading">
                4 ways to build your savings
            </h2>
            <p class="gridlike__p">
                Earn 5%-15% when you save with any of these PiggyVest plans.
            </p>
            <button class="gridlike__link btn btn--large btn--body" href="#">
                Start Saving
            </button>
        </div>
    </div>
    <div class="cage">
        <div class="grid">
            <a class="link--media" href="#">
                <div class="media top">
                    <div>
                        <img class="icon--large" src="/src/image/piggy.png" alt="security icon">
                        <h4>Automated Savings</h4>
                        <p>Build a dedicated savings faster on your terms automatically or manually. It's like a savings account.</p>
                    </div>
                    <div class="btn-auto">
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.4438" cy="16.7622" r="16.0254" fill="#E0EFFF"></circle><path d="M18.8477 11.1533L17.7179 12.2831L21.3877 15.9609L8.43118 15.9609L8.43118 17.5635L21.3877 17.5635L17.7099 21.2413L18.8477 22.3711L24.4565 16.7622L18.8477 11.1533Z" fill="#003399"></path></svg>
                        <span class="btn-body">Piggybank</span>
                    </div>
                </div>
            </a>
            <a class="link--media" href="#">
                <div class="media">
                    <div>
                        <img class="icon--large" src="/src/image/safelock.png" alt="security icon">
                        <h4>Fixed Savings</h4>
                        <p>Lock money away for a fixed duration with no access to it until maturity. It's like having a custom fixed deposit.</p>
                    </div>
                    <div class="btn-auto">
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.4438" cy="16.7622" r="16.0254" fill="#E3F5FF"></circle><path d="M18.8477 11.1533L17.7179 12.2831L21.3877 15.9609L8.43118 15.9609L8.43118 17.5635L21.3877 17.5635L17.7099 21.2413L18.8477 22.3711L24.4565 16.7622L18.8477 11.1533Z" fill="#3296FF"></path></svg>
                        <span class="btn-body">Safelock</span>
                    </div>
                </div>
            </a>
            <a class="link--media" href="#">
                <div class="media sop">
                    <div>
                        <img class="icon--large" src="/src/image/target.png" alt="security icon">
                        <h4>Goal-oriented Savings</h4>
                        <p>Reach all your savings goals faster. Save towards multiple goals on your own or with a group.</p>
                    </div>
                    <div class="btn-auto">
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.4438" cy="16.7622" r="16.0254" fill="#E4FFF0"></circle><path d="M18.8477 11.1533L17.7179 12.2831L21.3877 15.9609L8.43118 15.9609L8.43118 17.5635L21.3877 17.5635L17.7099 21.2413L18.8477 22.3711L24.4565 16.7622L18.8477 11.1533Z" fill="#069B40"></path></svg>
                        <span class="btn-body">Target Savings</span>
                    </div>
                </div>
            </a>
            <a class="link--media" href="#">
                <div class="media">
                    <div>
                        <img class="icon--large" src="/src/image/flex.png" alt="security icon">
                        <h4>Flexible Savings</h4>
                        <p>Save, transfer, withdraw, manage and organise your money for free at any time.</p>
                    </div>
                    <div class="btn-auto">
                        <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.4438" cy="16.7622" r="16.0254" fill="#FDE7F5"></circle><path d="M18.8477 11.1533L17.7179 12.2831L21.3877 15.9609L8.43118 15.9609L8.43118 17.5635L21.3877 17.5635L17.7099 21.2413L18.8477 22.3711L24.4565 16.7622L18.8477 11.1533Z" fill="#E5288E"></path></svg>
                        <span class="btn-body">Flex Naira</span>
                    </div>
                </div>
            </a>
        </div>
    </div>
</section>
<section class="block-investment block--big">
    <div class="container block investment">
        <div class="enclose" >
            <div class="secondimage">
                <img class="invest" src="/src/image/invest.png" alt="invest picture">
                <svg class="investIcon" width="280" height="280" viewBox="0 0 300 300" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate(0px, 0px); opacity: 1;"><circle cx="150" cy="150" r="150" fill="white"></circle><circle cx="150" cy="150" r="100" stroke="#7913E5" stroke-opacity="0.07" stroke-width="100"></circle></svg>
                <svg class="dotinvest" width="33" height="108" viewBox="0 0 35 110" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate(0px, 0px); opacity: 1;"><circle cx="5" cy="5" r="5" fill="#7913E5" fill-opacity="0.21"></circle><circle cx="5" cy="30" r="5" fill="#7913E5" fill-opacity="0.21"></circle><circle cx="5" cy="55" r="5" fill="#7913E5" fill-opacity="0.21"></circle><circle cx="5" cy="80" r="5" fill="#7913E5" fill-opacity="0.21"></circle><circle cx="5" cy="105" r="5" fill="#7913E5" fill-opacity="0.21"></circle><circle cx="30" cy="5" r="5" fill="#7913E5" fill-opacity="0.21"></circle><circle cx="30" cy="30" r="5" fill="#7913E5" fill-opacity="0.21"></circle><circle cx="30" cy="55" r="5" fill="#7913E5" fill-opacity="0.21"></circle><circle cx="30" cy="80" r="5" fill="#7913E5" fill-opacity="0.21"></circle><circle cx="30" cy="105" r="5" fill="#7913E5" fill-opacity="0.21"></circle></svg>
            </div>
        </div>
        <div class="bracket">
            <div class="investment__body" >
                <span class="investment__span" >Up To 25% Returns</span>
                <h2>
                    Access investment opportunities
                </h2>
                <p>
                    Invest securely and confidently on the go. Grow your money confidently by investing in pre-vetted investment opportunities.
                </p>
                <a class="link--accent" href="#">
                    Learn more about Investments >
                </a>
            </div>
        </div>
    </div>
</section>
<section class="month block--big max">
    <div class="month__body">
        <div class="month__close">
            <div class="month__bodytext">
                <h2 class="month__heading">
                    Meet the saver of the month!
                </h2>
                <p class="month__p">
                    Every month, we shine a spotlight on one saver, asking them questions about their savings culture and how the product is specifically helping them shape how they spend and save for future responsibilities.
                </p>
                <div class="btn-auto month__btn link--month">
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.2173" cy="16.1587" r="16.0254" fill="white"></circle><path d="M18.6211 10.5498L17.4913 11.6796L21.1611 15.3574L8.20461 15.3574L8.20461 16.96L21.1611 16.96L17.4833 20.6378L18.6211 21.7676L24.23 16.1587L18.6211 10.5498Z" fill="#2295F2"></path></svg>
                    <span class="btn-body">Meet Tohbad</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bg">
    </div>
</section>
<section class="block-million block--big">
    <div class="million container block">
        <div class="million__body">
            <h2 class="million__heading">
                3 Million + customers
            </h2>
            <p class="million__bodytext">
                Since launching in 2016, over 3,000,000 people have used PiggyVest to manage their money better, avoid over-spending and be more accountable.
            </p>
            <div class="million__acct" >
                <a class="btn btn--large btn--body" href="#">Create free account </a>
            </div>
            <div class="million__get" >
                <a class="save__get__link uplink btn btn--small btn--transparent" href="#">
                    <img class="icon--small" src="/src/image/apple-icon.svg" alt="">
                    Get on iphone
                </a>
                <a class="btn uplink btn--small btn--transparent" href="#">
                    <img class="icon--small" src="/src/image/google-icon.svg" alt="ipone logo">
                    Get on Android
                </a>
            </div>
        </div>
        <div class="showcase">
            <div class="showcase__body">
                <div>
                    <p class="showcase__time">
                        Wednesday, 25th of August 2021 by 21:33 PM
                    </p>
                </div>
                <div class="flex">
                    <div>
                        <img class="showcase__img" src="/src/image/ava8f47c985ef.jpg" alt="kenechukwu profile picture">
                    </div>
                    <div class="showcase__bodytext">
                        <h4 class="showcase__heading">Kenechukwu E</h4>
                        <p class="showcase__text">
                           I used to have a problem of spending money on the go. When my brother told me about Piggyvest I was reluctant. But I am happy he persuaded me. Piggyvest has helped me to instill discipline financially. Piggyvest is a sure way to prepare for the future. Trust piggyvest they got your back👍
                        </p>
                    </div>
                </div>
            </div>
            <div class="showcase__body">
                <div>
                    <p class="showcase__time">
                        Tuesday, 24th of August 2021 by 18:09 PM
                    </p>
                </div>
                <div class="flex">
                    <div>
                        <img class="showcase__img" src="/src/image/img71495a7be7.jpeg" alt="kenechukwu profile picture">
                    </div>
                    <div class="showcase__bodytext">
                        <h4 class="showcase__heading">Cynthia C</h4>
                        <p class="showcase__text">
                            PiggyVest has helped my life truly in many ways. I was kinda restless, helpless, but PiggyVest gave me the courage to stand. I couldn't save nor make a profit. I found PiggyVest it changed my life. It gave me a turnaround. I made a huge amount from it, which have helped me Soo much in my everyday life especially my Education, finance, etc This is not the opportunity you should miss, have a plan B, think better for the future.
                        </p>
                    </div>
                </div>
            </div>
            <div class="showcase__body">
                <div>
                    <p class="showcase__time">
                        Wednesday, 18th of August 2021 by 22:23 PM
                    </p>
                </div>
                <div class="flex">
                    <div>
                        <img class="showcase__img" src="/src/image/img71495a7be7.jpeg" alt="kenechukwu profile picture">
                    </div>
                    <div class="showcase__bodytext">
                        <h4 class="showcase__heading">Henry I</h4>
                        <p class="showcase__text">
                            I  love the easy way to save funds a little at a time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="block-feature block--big">
    <div class="feature__bg">
        <div class="feature container block">
            <header>
                <h2>
                    As featured in
                </h2>
            </header>
            <div class="flex">
                <div class="feature__body">
                    <a href="#">
                        <img class="featureimg" src="/src/image/techpoint.png" alt="techpoint logo">
                    </a>
                    <a href="#">
                        <img class="featureimg2" src="/src/image/the guardian.png" alt="the guardian logo">
                    </a>
                    <a href="#">
                        <img class="featureimg2" src="/src/image/techcrunch.png" alt="techcrunch logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>
<footer class="container block--big block">
    <div class="wrap">
        <div class="footerimg"><img src="/src/image/piggyvest.svg" alt="piggyvest logo"></div>
        <div class="footer__list a">
            <p>
                Products
            </p>
            <ul class="list footer__list__link">
                <li>
                    <a class="link--primary" href="#">Piggyvest</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Invest</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Safelock</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Target Savings</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Flex Naira</a>
                </li>
            </ul>
        </div>
        <div class="footer__list b">
            <p>
                Company
            </p>
            <ul class="list footer__list__link">
                <li>
                    <a class="link--primary" href="#">About</a>
                </li>
                <li>
                    <a class="link--primary" href="#">FAQs</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Blog</a>
                </li>
            </ul>
        </div>
        <div class="footer__list c">
            <p>
                Legal
            </p>
            <ul class="list footer__list__link">
                <li>
                    <a class="link--primary" href="#">Terms</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Privacy</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Security</a>
                </li>
            </ul>
        </div>
        <div class="social__group">
            <div class="social__container" >
                <a href="#"><img class="icon--small social" src="/src/image/facebook (1).png" alt="facebook logo"></a>
            </div>
            <div class="social__container">
                <a href="#"><img class="icon--small social" src="/src/image/twitter-sign.png" alt="twitter logo"></a>
            </div>
            <div class="social__container">
                <a href="#"><img class="icon--small social" src="/src/image/instagram.png" alt="instagram logo"></a>
            </div>
            <ul class="list footer__list__link">
                <li>
                    <a class="link--primary" href="#">
                    Tesmot house, Abdulrahman Okene close, Victoria Island, Lagos, Nigeria.
                    </a>
                </li>
                <li>
                    <a class="link--primary" href="#">
                        contact@piggyvest.com
                    </a>
                </li>
                <li>
                    <a class="link--primary" href="#">
                        +234 700 933 933 933
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="last__footer">
        <p>
            Piggyvest (formerly piggybank.ng) is the leading online savings & investing platform in Nigeria. For over 5 years, our customers have saved and invested billions of Naira that they would normally be tempted to spend.
        </p>
        <p>
            2016 - 2021 PiggyTech Global Limited - RC 1405222
        </p>
    </div>
</footer>