<section class="block-million block--big">
    <div class="million container block">
        <div class="million__body">
            <h2 class="million__heading">
                3 Million + customers
            </h2>
            <p class="million__bodytext">
                Since launching in 2016, over 3,000,000 people have used PiggyVest to manage their money better, avoid over-spending and be more accountable.
            </p>
            <div class="million__acct" >
                <a class="btn btn--large btn--body" href="#">Create free account </a>
            </div>
            <div class="million__get" >
                <a class="save__get__link uplink btn btn--small btn--transparent" href="#">
                    <img class="icon--small" src="/src/image/apple-icon.svg" alt="">
                    Get on iphone
                </a>
                <a class="btn uplink btn--small btn--transparent" href="#">
                    <img class="icon--small" src="/src/image/google-icon.svg" alt="ipone logo">
                    Get on Android
                </a>
            </div>
        </div>
        <div class="showcase">
            <div class="showcase__body">
                <div>
                    <p class="showcase__time">
                        Wednesday, 25th of August 2021 by 21:33 PM
                    </p>
                </div>
                <div class="flex">
                    <div>
                        <img class="showcase__img" src="/src/image/ava8f47c985ef.jpg" alt="kenechukwu profile picture">
                    </div>
                    <div class="showcase__bodytext">
                        <h4 class="showcase__heading">Kenechukwu E</h4>
                        <p class="showcase__text">
                           I used to have a problem of spending money on the go. When my brother told me about Piggyvest I was reluctant. But I am happy he persuaded me. Piggyvest has helped me to instill discipline financially. Piggyvest is a sure way to prepare for the future. Trust piggyvest they got your back👍
                        </p>
                    </div>
                </div>
            </div>
            <div class="showcase__body">
                <div>
                    <p class="showcase__time">
                        Tuesday, 24th of August 2021 by 18:09 PM
                    </p>
                </div>
                <div class="flex">
                    <div>
                        <img class="showcase__img" src="/src/image/img71495a7be7.jpeg" alt="kenechukwu profile picture">
                    </div>
                    <div class="showcase__bodytext">
                        <h4 class="showcase__heading">Cynthia C</h4>
                        <p class="showcase__text">
                            PiggyVest has helped my life truly in many ways. I was kinda restless, helpless, but PiggyVest gave me the courage to stand. I couldn't save nor make a profit. I found PiggyVest it changed my life. It gave me a turnaround. I made a huge amount from it, which have helped me Soo much in my everyday life especially my Education, finance, etc This is not the opportunity you should miss, have a plan B, think better for the future.
                        </p>
                    </div>
                </div>
            </div>
            <div class="showcase__body">
                <div>
                    <p class="showcase__time">
                        Wednesday, 18th of August 2021 by 22:23 PM
                    </p>
                </div>
                <div class="flex">
                    <div>
                        <img class="showcase__img" src="/src/image/img71495a7be7.jpeg" alt="kenechukwu profile picture">
                    </div>
                    <div class="showcase__bodytext">
                        <h4 class="showcase__heading">Henry I</h4>
                        <p class="showcase__text">
                            I  love the easy way to save funds a little at a time.
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>