<section class="block-feature block--big">
    <div class="feature__bg">
        <div class="feature container block">
            <header>
                <h2>
                    As featured in
                </h2>
            </header>
            <div class="flex">
                <div class="feature__body">
                    <a href="#">
                        <img class="featureimg" src="/src/image/techpoint.png" alt="techpoint logo">
                    </a>
                    <a href="#">
                        <img class="featureimg2" src="/src/image/the guardian.png" alt="the guardian logo">
                    </a>
                    <a href="#">
                        <img class="featureimg2" src="/src/image/techcrunch.png" alt="techcrunch logo">
                    </a>
                </div>
            </div>
        </div>
    </div>
</section>