<section class="month">
    <div class="month__body">
        <div class="month__close">
            <div class="month__bodytext">
                <h2 class="month__heading">
                    Meet the saver of the month!
                </h2>
                <p class="month__p">
                    Every month, we shine a spotlight on one saver, asking them questions about their savings culture and how the product is specifically helping them shape how they spend and save for future responsibilities.
                </p>
                <div class="btn-auto month__btn link--month">
                    <svg width="33" height="33" viewBox="0 0 33 33" fill="none" xmlns="http://www.w3.org/2000/svg"><circle cx="16.2173" cy="16.1587" r="16.0254" fill="white"></circle><path d="M18.6211 10.5498L17.4913 11.6796L21.1611 15.3574L8.20461 15.3574L8.20461 16.96L21.1611 16.96L17.4833 20.6378L18.6211 21.7676L24.23 16.1587L18.6211 10.5498Z" fill="#2295F2"></path></svg>
                    <span class="btn-body">Meet Tohbad</span>
                </div>
            </div>
        </div>
    </div>
    <div class="bg">
    </div>
</section>