<footer class="container block--big block">
    <div class="wrap">
        <div class="footerimg"><img src="/src/image/piggyvest.svg" alt="piggyvest logo"></div>
        <div class="footer__list a">
            <p>
                Products
            </p>
            <ul class="list footer__list__link">
                <li>
                    <a class="link--primary" href="#">Piggyvest</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Invest</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Safelock</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Target Savings</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Flex Naira</a>
                </li>
            </ul>
        </div>
        <div class="footer__list b">
            <p>
                Company
            </p>
            <ul class="list footer__list__link">
                <li>
                    <a class="link--primary" href="#">About</a>
                </li>
                <li>
                    <a class="link--primary" href="#">FAQs</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Blog</a>
                </li>
            </ul>
        </div>
        <div class="footer__list c">
            <p>
                Legal
            </p>
            <ul class="list footer__list__link">
                <li>
                    <a class="link--primary" href="#">Terms</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Privacy</a>
                </li>
                <li>
                    <a class="link--primary" href="#">Security</a>
                </li>
            </ul>
        </div>
        <div class="social__group">
            <div class="social__container" >
                <a href="#"><img class="icon--small social" src="/src/image/facebook (1).png" alt="facebook logo"></a>
            </div>
            <div class="social__container">
                <a href="#"><img class="icon--small social" src="/src/image/twitter-sign.png" alt="twitter logo"></a>
            </div>
            <div class="social__container">
                <a href="#"><img class="icon--small social" src="/src/image/instagram.png" alt="instagram logo"></a>
            </div>
            <ul class="list footer__list__link">
                <li>
                    <a class="link--primary" href="#">
                    Tesmot house, Abdulrahman Okene close, Victoria Island, Lagos, Nigeria.
                    </a>
                </li>
                <li>
                    <a class="link--primary" href="#">
                        contact@piggyvest.com
                    </a>
                </li>
                <li>
                    <a class="link--primary" href="#">
                        +234 700 933 933 933
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="last__footer">
        <p>
            Piggyvest (formerly piggybank.ng) is the leading online savings & investing platform in Nigeria. For over 5 years, our customers have saved and invested billions of Naira that they would normally be tempted to spend.
        </p>
        <p>
            2016 - 2021 PiggyTech Global Limited - RC 1405222
        </p>
    </div>
</footer>