<div class="million__body">
    <h2 class="million__heading">
        3 Million + customers
    </h2>
    <p class="million__bodytext">
        Since launching in 2016, over 3,000,000 people have used PiggyVest to manage their money better, avoid over-spending and be more accountable.
    </p>
    <div class="million__acct" >
        <a class="btn btn--large btn--body" href="#">Create free account </a>
    </div>
    <div class="million__get" >
        <a class="save__get__link uplink btn btn--small btn--transparent" href="#">
            <img class="icon--small" src="/src/image/apple-icon.svg" alt="">
            Get on iphone
        </a>
        <a class="btn uplink btn--small btn--transparent" href="#">
            <img class="icon--small" src="/src/image/google-icon.svg" alt="ipone logo">
            Get on Android
        </a>
    </div>
</div>