<nav>
    <div class="container block flex">
        <header class="nav__header flex">
            <img class="piggyheadlogo" src="/src/image/piggyvest.svg" alt="piggyvest logo">
            <a class="link--primary adj unhide" href="#">Save</a>
            <a class="link--primary adj unhide" href="#">Invest</a>
            <a class="link--primary adj unhide" href="#">Stories</a>
            <a class="link--primary adj unhide" href="#">FAQs</a>
            <a class="link--primary adj unhide" href="#">Blog</a>
        </header>
        <div class="nav__body">
            <a class="btn plain unhide link--primary btn--large" href="#">Sign in</a>
            <a class="btn btn--large unhide btn--body" href="#">Create free account </a>
            <img class="icon--medium menu hide" src="/src/image/menu.png" alt="menu logo">
        </div>
    </div>
</nav>