<div class="container block column">
    <div class="save__flex">
        <div class="save__header">
            <h1>
                The Better Way to Save & Invest.
            </h1>
            <p>
                PiggyVest helps over 3 million customers achieve their financial goals by helping them save and invest with ease.
            </p>
            <div class="save__acct" >
                <a class="btn btn--large btn--body" href="#">Create free account </a>
            </div>
            <div class="save__get" >
                <button class="save__get__link uplink btn btn--small btn--transparent" href="#">
                    <img class="icon--small" src="/src/image/apple-icon.svg" alt="">
                    Get on iphone
                </button>
                <button class="btn uplink btn--small btn--transparent" href="#">
                    <img class="icon--small" src="/src/image/google-icon.svg" alt="ipone logo">
                    Get on Android
                </button>
            </div>
        </div>
    </div>
    <div class="bracket block">
        <div class="firstimage">
                <img class="rect" src="/src/image/rect.png" alt="border image">
                <img class="headerimg" src="/src/image/headerImg.png" alt="a ladies image">
                <img class="cardimg card1" src="/src/image/card1.png" alt="my rent card">
                <img class="cardimg card2" src="/src/image/card2.png" alt="investify card">
                <svg class="cross" width="75" height="75" viewBox="0 0 80 80" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate(0px, 0px); opacity: 1;"><g opacity="0.2"><path d="M34.5601 36.8001H8.64014V28.4001H26.2401V10.5601H34.5601V36.8001Z" fill="#7913E5"></path><path d="M72.1602 36.8001H46.2402V10.5601H54.5602V28.4001H72.1602V36.8001Z" fill="#7913E5"></path><path d="M35.6798 69.6001H27.3598V51.7601H9.75977V43.3601H35.6798V69.6001Z" fill="#7913E5"></path><path d="M54.5602 69.6001H46.2402V43.3601H72.1602V51.7601H54.5602V69.6001Z" fill="#7913E5"></path></g></svg>
                <svg class="circleicon" width="41" height="41" viewBox="0 0 46 46" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate(0px, 0px); opacity: 1;"><circle cx="23" cy="23" r="15.5" stroke="#E7439C" stroke-opacity="0.15" stroke-width="15"></circle></svg>
                <svg class="dothead" width="33" height="108" viewBox="0 0 35 110" fill="none" xmlns="http://www.w3.org/2000/svg" style="transform: translate(0px, 0px); opacity: 1;"><circle cx="5" cy="5" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="5" cy="30" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="5" cy="55" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="5" cy="80" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="5" cy="105" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="30" cy="5" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="30" cy="30" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="30" cy="55" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="30" cy="80" r="5" fill="#2295F2" fill-opacity="0.28"></circle><circle cx="30" cy="105" r="5" fill="#2295F2" fill-opacity="0.28"></circle></svg>
        </div>
    </div>
</div>