<div class="container block">
    <div class="security">
        <div class="securityimg__container">
            <img class="securityimg" src="/src/image/security.png" alt="security logo">
        </div>
        <div class="security__bodytext">
            <h3>Your security is our priority</h3>
            <p>PiggyVest uses the highest level of Internet Security and it is secured by 256 bits SSL security encryption to ensure that your information is comepletely protected from fraud.</p>
            <a class="link--secondary" href="#">Learn more ></a>
        </div>
    </div>
</div>